.outerWrapper{
    height: 100%;
    width: 100%;
    display: flex;
}

.innerRow{
    margin-top: 25%;
}


.mainText{
    color: white;
    text-align: center;
    font-family: sf-regular;
    font-size: 30px;
    line-height: 40px;
    margin: 0 auto;
}

.ifText{
    text-align: center;
    color: white;
    margin-top: 2%;
    font-family: sf-ultralight;
    font-size: 25px;
}

.elseText {
    text-align: center;
    color: white;
    margin: 2%;
    font-family: sf-ultralight;
    font-size: 25px;
}

.loginButton{
    text-align: center;
    color: white;
    font-family: sf-thin;
    font-size: 20px;
    background-color: #5ABDFF;
    padding: 2px 50px;
    border-radius: 20px;
    font-weight: 500;
    transition: 0.3s;
    border: none;
}

.centerButton {
    text-align: center;
}

.loginButton:hover{
    transition: 0.3s;
    text-decoration: none;
    color: white;
    background-color: rgb(78, 158, 211);
}

.readButton {
    text-align: center;
    color: white;
    font-family: sf-thin;
    font-size: 20px;
    background-color: #745AFF;
    padding: 8px 50px;
    border-radius: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.readButton:hover{
    transition: 0.3s;
    text-decoration: none;
    color: white;
    background-color: rgb(97, 77, 211);
}

.linkWrapper{
    margin: 0 auto;
}

.linkWrapper:hover{
    text-decoration: none;
}

.loginInput {
    margin: 0 auto;;
    display: block;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(124, 124, 124);
    outline: none;
    color: white;
    font-family: sf-thin;
    font-size: 25px;
}

.loginInput::placeholder{
    text-align: center;
}

.inputGroup{
    margin-bottom: 2%;
}

#loginPassword[type="password"] {
    -webkit-text-security: disc;
}



@media (max-width: 575.98px) {

    .innerRow {
        margin-top: 25%;
        margin-bottom: 25%;
    }

    .inputGroup input {
        width: 100%;
        overflow: hidden;
        border-radius: 0;
        -webkit-appearance: none;
    }

    input[type=email],
    input[type=password],
    textarea {
        -webkit-appearance: none;
    }

    .centerButton{
        margin-bottom: 5%;
        margin-top: 5%;
    }


}


@media (min-width: 576px) and (max-width: 767.98px) {}


@media (min-width: 768px) and (max-width: 991.98px) {}


@media (min-width: 992px) and (max-width: 1199.98px) {}


@media (min-width: 1200px) {}