.postMainWrapper{
    text-align: center;
    height: 600px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    margin-top: 3%;
}

.postMainWrapper::-webkit-scrollbar{
    display: none;
}

.postRow{
    text-align: center;
    overflow: hidden;
}

.postRow p {
    color: white;
}

.postRow li {
    color: white;
}

.postInput{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(112, 112, 112);
    outline: none;
    color: white;
    font-family: sf-thin;
    font-size: 30px;
}

.postButton{
    text-align: center;
    color: white;
    font-family: sf-thin;
    font-size: 20px;
    background-color: rgb(75, 147, 255);
    padding: 2px 50px;
    border-radius: 20px;
    font-weight: 500;
    transition: 0.3s;
    border: none;
    outline: none;
}

.postButton:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(61, 117, 202);
    transition: 0.3s;
}

.postButton:active{
    outline: none !important;
}


.backButton{
    text-align: center;
    color: white;
    font-family: sf-thin;
    font-size: 20px;
    background-color: rgb(255, 75, 135);
    padding: 2px 50px;
    border-radius: 20px;
    font-weight: 500;
    padding: 5px 35px;
    transition: 0.3s;
}

.backButton:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(182, 57, 99);
    transition: 0.3s;
}

.buttonMargin{
    margin-top: 10px;
    margin-bottom: 5px;
}

.noteBox{
    background-color: black;
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    -moz-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    margin-bottom: 2%;
}

.noteBoxP{
    font-family: sf-thin;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 3px;
}

.noteBoxP::before{
    content: "\0022";
}

.noteBoxP::after{
    content: "\0022";
}

.noteBoxS{
    text-align: right;
    color: white;
    font-family: sf-ultralight;
    font-size: 12px;
    letter-spacing: 0.5px;
    display: block;
    text-align: right;
    padding: 1px;
    margin-right: 5px;
}

.noteDate{
    font-family: sf-thin;
    font-size: 40px;
    color: white;
    margin-top: 1%;
    margin-bottom: 3%;
}


@media (max-width: 575.98px) {

    .mainText{
        overflow: hidden;
        font-size: 30px;
    }

    .postMainWrapper{
        margin: 0px !important;
    }

    .postRow{
        margin-top: 15%;
        margin-bottom: 5%;
    }

    .container{
        width: 100%;
        overflow: hidden;
    }

    .noteDate{
        font-size: 35px;
        overflow: hidden;
        margin-top: 5%;
        margin-bottom: 5%;
    }


    .noteBox {
        background-color: black;
        width: 100%;
        margin: 0 auto;
        margin-top: 10%;
        -moz-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
        margin-bottom: 10%;
    }

    .readButtonMargin{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .postInput {
        width: 100%;
        overflow: hidden;
        border-radius: 0;
        -webkit-appearance: none;
    }

    .buttonMargin{
        margin-top: 3%;
        margin-bottom: 3%;
    }

}


@media (min-width: 576px) and (max-width: 767.98px) {
    
}


@media (min-width: 768px) and (max-width: 991.98px) {
    
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    
}


@media (min-width: 1200px) {
    
}